/* Reset browser styling and add general font style */
html,body,a {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid seashell;
  background-color: black;
}
header img {
  max-width: 100%;
  max-height: 50px;
  padding-left: 10px;
}
header ul {
  list-style-type: none;
  display: inline-flex;
}
header li {
  margin: 0px 10px;
}

main {
  position: relative;
  top: 70px;
  width: 1200px;
  margin: auto;
}
/*Mission Section*/
#mission {
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-color: black;
  position: relative;
}
.mission-description {
  background-color: black;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* Featured Section */
.featured {
  width: 1000px;
  margin: auto;
}
.featured-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.featured-image {
  margin-right: 30px;
}
.featured-image img {
  width: 300px;
  height: 200px;
}
.featured-image h4 {
  margin-top: 10px;
}
/* Locations Section */
.locations {
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location {
  display: inline-block;
  width: 300px;
  background-color: black;
  margin-right: 40px;
}
.contact-section {
  display: flex;
  flex-direction: column;
  height: 210px;
}
/*Footer Section */
footer {
position: relative;
top: 100px;
text-align: left;
margin-left: 20px;
}
